<div class="infoUser">
    <div class="titleText infoUser__titleText">
        <h3 class="titleText__title">Информация о вас</h3>
        <p class="titleText__text">Заполните пустые поля.</p>
    </div>
    <div class="userInfo">
        <div class="infoInputs">
            <div class="infoInputs__item inputForm">
                <input class="infoInputs__item-input inputForm__input" type="text" placeholder="Введите ваше имя">
                <div class="inputForm__img"><img src="img/form/userInfo/user.svg"></div>
            </div>
            <div class="infoInputs__item inputForm">
                <input class="infoInputs__item-input inputForm__input" type="text" placeholder="Введите вашу фамилию">
                <div class="inputForm__img"><img src="img/form/userInfo/user.svg"></div>
            </div>
            <div class="infoInputs__item inputForm">
                <input class="infoInputs__item-input inputForm__input" type="text" placeholder="Ваша дата рождения">
                <div class="inputForm__img"><img src="img/form/userInfo/age.svg"></div>
            </div>
            <div class="infoInputs__item inputForm">
                <input class="infoInputs__item-input inputForm__input" type="text" placeholder="Ваша профессия">
                <div class="inputForm__img"><img src="img/form/userInfo/work.svg"></div>
            </div>
        </div>
        <div class="about">
            <textarea class="about__item" name="" id="" cols="30" rows="10" placeholder="Расскажите о себе..."></textarea>
        </div>
    </div>
</div>