<div class="interestings">
    <div class="titleText interestings__titleText">
        <h3 class="titleText__title">Чем вы интересуетесь?</h3>
        <p class="titleText__text">Выберете несколько вариантов из списка интересов.</p>
    </div>
    <div class="inputForm interestings__inputForm">
        <input class="inputForm__input interestings__inputForm-input" type="text"
            placeholder="Найдите свои интересы...">
        <div class="inputForm__img"><img src="img/form/search.svg" alt="Поиск"></div>
    </div>

    <div class="interestings">
       <div class="interestings__wrapper">
        <div class="subTitle interestings__subtitle">
            <h4 class="subTitle__title">Бизнес</h4>
        </div>
        <div class="interestings__list">
            <label class="interestings__item">
                <input type="checkbox" class="interestings__item_checkbox" name="check">
                <div class="interestings__item-name">Предпринимательство</div>
                <div class="interestings__item-border"></div>
            </label>
            <label class="interestings__item">
                <input type="checkbox" class="interestings__item_checkbox" name="check">
                <div class="interestings__item-name">Маркетинг</div>
                <div class="interestings__item-border"></div>
            </label>
            <label class="interestings__item">
                <input type="checkbox" class="interestings__item_checkbox" name="check">
                <div class="interestings__item-name">Продажи</div>
                <div class="interestings__item-border"></div>
            </label>
            <label class="interestings__item">
                <input type="checkbox" class="interestings__item_checkbox" name="check">
                <div class="interestings__item-name">Консалтинг</div>
                <div class="interestings__item-border"></div>
            </label>
            <label class="interestings__item">
                <input type="checkbox" class="interestings__item_checkbox" name="check">
                <div class="interestings__item-name">Электронная комерция</div>
                <div class="interestings__item-border"></div>
            </label>
            <label class="interestings__item">
                <input type="checkbox" class="interestings__item_checkbox" name="check">
                <div class="interestings__item-name">Розничная торговля</div>
                <div class="interestings__item-border"></div>
            </label>
            <label class="interestings__item">
                <input type="checkbox" class="interestings__item_checkbox" name="check">
                <div class="interestings__item-name">Недвижимость</div>
                <div class="interestings__item-border"></div>
            </label>
        </div>
       </div>
       <div class="interestings__wrapper">
        <div class="subTitle interestings__subtitle">
            <h4 class="subTitle__title">Инвестиции и Финансы</h4>
        </div>
        <div class="interestings__list">
            <label class="interestings__item">
                <input type="checkbox" class="interestings__item_checkbox" name="check">
                <div class="interestings__item-name">Инвестирование</div>
                <div class="interestings__item-border"></div>
            </label>
            <label class="interestings__item">
                <input type="checkbox" class="interestings__item_checkbox" name="check">
                <div class="interestings__item-name">Криптовалюта</div>
                <div class="interestings__item-border"></div>
            </label>
            <label class="interestings__item">
                <input type="checkbox" class="interestings__item_checkbox" name="check">
                <div class="interestings__item-name">Квантовые финансы</div>
                <div class="interestings__item-border"></div>
            </label>
            <label class="interestings__item">
                <input type="checkbox" class="interestings__item_checkbox" name="check">
                <div class="interestings__item-name">Венчурный капитал</div>
                <div class="interestings__item-border"></div>
            </label>
            <label class="interestings__item">
                <input type="checkbox" class="interestings__item_checkbox" name="check">
                <div class="interestings__item-name">Банковская деятельность</div>
                <div class="interestings__item-border"></div>
            </label>
            <label class="interestings__item">
                <input type="checkbox" class="interestings__item_checkbox" name="check">
                <div class="interestings__item-name">Экономически прогнозы</div>
                <div class="interestings__item-border"></div>
            </label>
        </div>
       </div>
       <div class="interestings__wrapper">
        <div class="subTitle interestings__subtitle">
            <h4 class="subTitle__title">Стиль жизни</h4>
        </div>
        <div class="interestings__list">
            <label class="interestings__item">
                <input type="checkbox" class="interestings__item_checkbox" name="check">
                <div class="interestings__item-name">Путешествия</div>
                <div class="interestings__item-border"></div>
            </label>
            <label class="interestings__item">
                <input type="checkbox" class="interestings__item_checkbox" name="check">
                <div class="interestings__item-name">Спорт</div>
                <div class="interestings__item-border"></div>
            </label>
            <label class="interestings__item">
                <input type="checkbox" class="interestings__item_checkbox" name="check">
                <div class="interestings__item-name">Еда</div>
                <div class="interestings__item-border"></div>
            </label>
            <label class="interestings__item">
                <input type="checkbox" class="interestings__item_checkbox" name="check">
                <div class="interestings__item-name">Гейминг</div>
                <div class="interestings__item-border"></div>
            </label>
            <label class="interestings__item">
                <input type="checkbox" class="interestings__item_checkbox" name="check">
                <div class="interestings__item-name">Готовка</div>
                <div class="interestings__item-border"></div>
            </label>
            <label class="interestings__item">
                <input type="checkbox" class="interestings__item_checkbox" name="check">
                <div class="interestings__item-name">Животные</div>
                <div class="interestings__item-border"></div>
            </label>
            <label class="interestings__item">
                <input type="checkbox" class="interestings__item_checkbox" name="check">
                <div class="interestings__item-name">Технологии</div>
                <div class="interestings__item-border"></div>
            </label>
            <label class="interestings__item">
                <input type="checkbox" class="interestings__item_checkbox" name="check">
                <div class="interestings__item-name">Фильмы</div>
                <div class="interestings__item-border"></div>
            </label>
            <label class="interestings__item">
                <input type="checkbox" class="interestings__item_checkbox" name="check">
                <div class="interestings__item-name">Наука</div>
                <div class="interestings__item-border"></div>
            </label>
            <label class="interestings__item">
                <input type="checkbox" class="interestings__item_checkbox" name="check">
                <div class="interestings__item-name">Культурная деятельность</div>
                <div class="interestings__item-border"></div>
            </label>
            <label class="interestings__item">
                <input type="checkbox" class="interestings__item_checkbox" name="check">
                <div class="interestings__item-name">Флористика</div>
                <div class="interestings__item-border"></div>
            </label>
        </div>
       </div>
    </div>
</div>