<div class="location">
    <div class="titleText location__titleText">
        <h3 class="titleText__title">Где вы проживаете?</h3>
        <p class="titleText__text">Мы работаем в крупных городах и планируем расширяться, для более удобного
            взаимодействия укажите место проживания.</p>
    </div>
    <div class="inputForm location__inputForm">
        <input class="inputForm__input location__inputForm-input" type="text" placeholder="Найдите свой город...">
       <div class="inputForm__img"><img src="img/form/search.svg" alt="Поиск"></div>
    </div>
    <div class="subTitle location__subtitle">
        <h4 class="subTitle__title">Список городов</h4>
    </div>
    <div class="listCheck location__listCheck">
            <label class="listCheck__item location__listCheck__item">
                <input type="radio" class="location__listCheck__item_radio" name="radio">
                <div class="location__listCheck__item_fakeRadio" for="radio"></div>
                <div class="listCheck__item-img"><img src="img/form/location/moscow.png" alt="Москва"></div>
                <div class="listCheck__item-name">Москва</div>
                <div class="listCheck__item-border"></div>
            </label>
            <label class="listCheck__item location__listCheck__item">
                <input type="radio" class="location__listCheck__item_radio" name="radio">
                <div class="location__listCheck__item_fakeRadio" for="radio"></div>
                <div class="listCheck__item-img"><img src="img/form/location/sanktP.png" alt="Санкт-Петербург"></div>
                <div class="listCheck__item-name">Санкт-Петербург</div>
                <div class="listCheck__item-border"></div>
            </label>
            <label class="listCheck__item location__listCheck__item">
                <input type="radio" class="location__listCheck__item_radio" name="radio">
                <div class="location__listCheck__item_fakeRadio" for="radio"></div>
                <div class="listCheck__item-img"><img src="img/form/location/ekaterinburg.png" alt="Екатеринбург"></div>
                <div class="listCheck__item-name">Екатеринбург</div>
                <div class="listCheck__item-border"></div>
            </label>
            <label class="listCheck__item location__listCheck__item">
                <input type="radio" class="location__listCheck__item_radio" name="radio">
                <div class="location__listCheck__item_fakeRadio" for="radio"></div>
                <div class="listCheck__item-img"><img src="img/form/location/novosib.png" alt="Новосибирск"></div>
                <div class="listCheck__item-name">Новосибирск</div>
                <div class="listCheck__item-border"></div>
            </label>
            <label class="listCheck__item location__listCheck__item">
                <input type="radio" class="location__listCheck__item_radio" name="radio">
                <div class="location__listCheck__item_fakeRadio" for="radio"></div>
                <div class="listCheck__item-img"><img src="img/form/location/kazan.png" alt="Казань"></div>
                <div class="listCheck__item-name">Казань</div>
                <div class="listCheck__item-border"></div>
            </label>
            <label class="listCheck__item location__listCheck__item">
                <input type="radio" class="location__listCheck__item_radio" name="radio">
                <div class="location__listCheck__item_fakeRadio" for="radio"></div>
                <div class="listCheck__item-img"><img src="img/form/location/novgorod.png" alt="Нижний Новгород"></div>
                <div class="listCheck__item-name">Нижний Новгород</div>
                <div class="listCheck__item-border"></div>
            </label>
    </div>
</div>