<div class="objectives">
    <div class="titleText objectives__titleText">
        <h3 class="titleText__title">Каковы ваши цели?</h3>
        <p class="titleText__text">Выберите до 3-х целей. Они будут скрыты от других пользователей, но помогут нам найти соответствующие совпадения.</p>
    </div>
    <div class="subTitle objectives__subtitle">
        <h4 class="subTitle__title">Список целей</h4>
    </div>
    <div class="listCheck objectives__listCheck">
            <label class="listCheck__item objectives__listCheck__item">
                <input type="checkbox" class="objectives__listCheck__item_checkbox" name="check">
                 <div class="objectives__listCheck__item_fakeCheck" for="check"></div>
                <div class="listCheck__item-img"><img src="img/form/objectives/buisnes.png" alt="Иконка"></div>
                <div class="listCheck__item-name">Развитие бизнеса</div>
                <div class="listCheck__item-border"></div>
            </label>
            <label class="listCheck__item objectives__listCheck__item">
                <input type="checkbox" class="objectives__listCheck__item_checkbox" name="check">
                 <div class="objectives__listCheck__item_fakeCheck" for="check"></div>
                <div class="listCheck__item-img"><img src="img/form/objectives/creation.png" alt="Иконка"></div>
                <div class="listCheck__item-name">Творчество</div>
                <div class="listCheck__item-border"></div>
            </label>
            <label class="listCheck__item objectives__listCheck__item">
                <input type="checkbox" class="objectives__listCheck__item_checkbox" name="check">
                 <div class="objectives__listCheck__item_fakeCheck" for="check"></div>
                <div class="listCheck__item-img"><img src="img/form/objectives/design.png" alt="Иконка"></div>
                <div class="listCheck__item-name">Дизайн</div>
                <div class="listCheck__item-border"></div>
            </label>
            <label class="listCheck__item objectives__listCheck__item">
                <input type="checkbox" class="objectives__listCheck__item_checkbox" name="check">
                 <div class="objectives__listCheck__item_fakeCheck" for="check"></div>
                <div class="listCheck__item-img"><img src="img/form/objectives/develop.png" alt="Иконка"></div>
                <div class="listCheck__item-name">Разработка</div>
                <div class="listCheck__item-border"></div>
            </label>
            <label class="listCheck__item objectives__listCheck__item">
                <input type="checkbox" class="objectives__listCheck__item_checkbox" name="check">
                 <div class="objectives__listCheck__item_fakeCheck" for="check"></div>
                <div class="listCheck__item-img"><img src="img/form/objectives/education.png" alt="Иконка"></div>
                <div class="listCheck__item-name">Обучение</div>
                <div class="listCheck__item-border"></div>
            </label>
            <label class="listCheck__item objectives__listCheck__item">
                <input type="checkbox" class="objectives__listCheck__item_checkbox" name="check">
                 <div class="objectives__listCheck__item_fakeCheck" for="check"></div>
                <div class="listCheck__item-img"><img src="img/form/objectives/friends.png" alt="Иконка"></div>
                <div class="listCheck__item-name">Поиск сторонников</div>
                <div class="listCheck__item-border"></div>
            </label>
            <label class="listCheck__item objectives__listCheck__item">
                <input type="checkbox" class="objectives__listCheck__item_checkbox" name="check">
                 <div class="objectives__listCheck__item_fakeCheck" for="check"></div>
                <div class="listCheck__item-img"><img src="img/form/objectives/invest.png" alt="Иконка"></div>
                <div class="listCheck__item-name">Инвестиции</div>
                <div class="listCheck__item-border"></div>
            </label>
            <label class="listCheck__item objectives__listCheck__item">
                <input type="checkbox" class="objectives__listCheck__item_checkbox" name="check">
                 <div class="objectives__listCheck__item_fakeCheck" for="check"></div>
                <div class="listCheck__item-img"><img src="img/form/objectives/mentor.png" alt="Иконка"></div>
                <div class="listCheck__item-name">Менторство</div>
                <div class="listCheck__item-border"></div>
            </label>
            <label class="listCheck__item objectives__listCheck__item">
                <input type="checkbox" class="objectives__listCheck__item_checkbox" name="check">
                 <div class="objectives__listCheck__item_fakeCheck" for="check"></div>
                <div class="listCheck__item-img"><img src="img/form/objectives/organizeEvents.png" alt="Иконка"></div>
                <div class="listCheck__item-name">Организация мероприятий</div>
                <div class="listCheck__item-border"></div>
            </label>
            <label class="listCheck__item objectives__listCheck__item">
                <input type="checkbox" class="objectives__listCheck__item_checkbox" name="check">
                 <div class="objectives__listCheck__item_fakeCheck" for="check"></div>
                <div class="listCheck__item-img"><img src="img/form/objectives/searchFinance.png" alt="Иконка"></div>
                <div class="listCheck__item-name">Поиск финансов</div>
                <div class="listCheck__item-border"></div>
            </label>
            <label class="listCheck__item objectives__listCheck__item">
                <input type="checkbox" class="objectives__listCheck__item_checkbox" name="check">
                 <div class="objectives__listCheck__item_fakeCheck" for="check"></div>
                <div class="listCheck__item-img"><img src="img/form/objectives/skill.png" alt="Иконка"></div>
                <div class="listCheck__item-name">Повышение квалификации</div>
                <div class="listCheck__item-border"></div>
            </label>
            <label class="listCheck__item objectives__listCheck__item">
                <input type="checkbox" class="objectives__listCheck__item_checkbox" name="check">
                 <div class="objectives__listCheck__item_fakeCheck" for="check"></div>
                <div class="listCheck__item-img"><img src="img/form/objectives/startCompany.png" alt="Иконка"></div>
                <div class="listCheck__item-name">Открытие компании</div>
                <div class="listCheck__item-border"></div>
            </label>
    </div>
</div>