<div class="profile">
    <div class="titleText profile__titleText">
        <h3 class="titleText__title">Заполните профиль</h3>
        <p class="titleText__text">Эту информацию будут видеть только зарегестрированные пользователи.</p>
    </div>

    <div class="content">
        <div class="uploader">
            <label for="file" class="uploader__file">
                <input type="file" name="file" id="file" class="uploader__file-loader">
                <div class="uploader__photo">
                    <div class="uploader__photo-img"><img src="img/form/profile/loadPhoto.svg" alt="Иконка">
                    </div>
                    <p class="uploader__photo-text">Нажмите для загрузки вашей фотографии</p>
                </div>
            </label>
        </div>

        <div class="otherProfile">
            <div class="subTitle otherProfile__subtitle">
                <h4 class="subTitle__title">Укажите ссылки на на ваш профиль в социальных сетях</h4>
            </div>

            <div class="links">
                <div class="links__item inputForm">
                    <input class="links__item-input inputForm__input" type="text" placeholder="LinkedIn URL">
                    <div class="inputForm__img"><img src="img/form/profile/linkAdd.svg" alt="Поиск"></div>
                </div>
                <div class="links__item inputForm">
                    <input class="links__item-input inputForm__input" type="text" placeholder="Telegram URL">
                    <div class="inputForm__img"><img src="img/form/profile/teleg.svg" alt="Поиск"></div>
                </div>
            </div>
        </div>
    </div>
</div>