<div class="finishPage">
    <div class="finishPage__img">
        <img src="img/finishPage/logoGoogle.png" alt="Google">
    </div>
    <div class="titleText finishPage__titleText">
        <h3 class="titleText__title">Завершение регистрации</h3>
        <p class="titleText__text">Для более удобного использования платформы рекомендуем подключить свой Google
            аккаунт.</p>
    </div>
    <div class="finishPage__subtitle subTitle">
        <h4 class="subTitle__title finishPage__subtitle-title">Зачем подключать мой Google аккаунт?</h4>
        <p class="finishPage__text">Ваши контактные данные и данные календаря помогают нам планировать
            встречи и обеспечивать
            релевантность ваших совпадений
            (например, не сопоставлять вас с людьми, которых вы уже знаете).</p>
        <p class="finishPage__text">Мы серьезно относимся к вашей конфиденциальности и никогда не
            будем передавать ваши личные
            данные другим пользователям или третьим лицам без вашего согласия.</p>
    </div>
</div>