<form class="forms">
    <div class="content">
        <div class="content__step">
            @@include('./formComponents/location.html')
        </div>

        <div class="content__step">
            @@include('./formComponents/objectives.html')
        </div>

        <div class="content__step">
            @@include('./formComponents/profile.html')
        </div>

        <div class="content__step">
            @@include('./formComponents/interestings.html')
        </div>

        <div class="content__step">
            @@include('./formComponents/infoUser.html')
        </div>
    </div>
</form>