main {
    padding: 10px 20px;
}

.content {
    margin-bottom: 80px;

    // .content__step
    &__step {
        display: none;
        width: 100%;

        &_active {
            display: block;
        }
    }
}

@media(max-width: $md3) {
    .content {
        margin-bottom: 40px;
    }
}
@media(max-width: $min-width) {
    .content {
        margin-bottom: 20px;
    }
}