.list {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;

		// .listCity__item

		&__item {
            position: relative;
            display: flex;
            align-items: center;
            max-width: 360px;
            width: 100%;
            padding: 20px;
            background: $lightblue;
            cursor: pointer;
            border: none;
		}

		// .listCity__item-input

		&__item-radio {
            display: none;

            &:checked + .list__item-fakeRadio::after {
                opacity: 1;
            }

            &:checked ~ .list__item-border {
                opacity: 1;
            }
		
        }

		&__item-checkbox {
            display: none;

            &:checked + .list__item-fakeCheck::after {
                opacity: 1;
            }

            &:checked ~ .list__item-border {
                opacity: 1;
            }
		}

		// .listCity__item-check

		&__item-fakeRadio {
            position: absolute;
            width: 30px;
            height: 30px;
            border-radius: 100%;
            border: 2px solid $pink;
            right: 25px;
            cursor: pointer;

            &::after {
                position: absolute;
                content: '';
                width: 20px;
                height: 20px;
                background: $pink;
                border-radius: 100%;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                opacity: 0;
            }
		}

		&__item-fakeCheck {
            position: absolute;
            width: 30px;
            height: 30px;
            border: 2px solid $pink;
            border-radius: 5px;
            background-color: $white;
            right: 25px;
            cursor: pointer;

            &:after {
                position: absolute;
                content: '';
                background: $pink url('../img/form/objectives/selected.svg') no-repeat center;
                right: 0;
                bottom: 0;
                top: 0;
                left: 0;
                opacity: 0;
            }
		}

        

		// .listCity__item-name

		&__item-name {
            font-weight: 494;
            font-size: 20px;
            line-height: 22px;
            color: $black;
            max-width: 220px;
		}

		// .listCity__item-img

		&__item-img {
            max-width: 60px;
            margin-right: 10px;
            background: $white;

            img {
                padding: 10px;
            }
		}

        &__item-border {
            position: absolute;
            border: 1px solid $orange;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            opacity: 0;
        }
}

