.header {
    display: flex;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.image {
    flex: 0 1 50%;
    position: relative;
    display: flex;
    justify-content: space-between;
    max-width: 960px;
    max-height: 940px;
    background: url("../../img/startPage/bg.jpeg") center / cover no-repeat;
    // .image__itemLeft

    &__itemLeft {
        margin-left: 106px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin-bottom: 60px;
        // .image__itemLeft_absolute

        &_absolute {
            position: absolute;
            margin-top: -70px;
            margin-left: -40px
        }
    }

    // .image__itemRight

    &__itemRight {
        margin-right: 60px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        // .image__itemRight_absolute

        &_absolute {
            position: absolute;
            margin-top: -40px;
            margin-left: -6px;
        }
    }
}

.info {
    flex: 0 1 50%;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding: 65px 100px;
    // .info__titleText

    &__titleText {
        margin-bottom: 40px;
    }

    // .info__button

    &__button {
        padding: 18px 30px;
        margin-bottom: 20px;

        &:hover {
            img {
                transform: translateX(10px);
                transition: .3s all ease;
            }
        }
    }

    &__button-img {
        margin-left: 10px;
        transition: .3s all ease;
    }

    // .info__bottom

    &__bottom {
        font-weight: 400;
        font-size: 18px;
        line-height: 20px;
        color: $gray;
        margin-top: auto;

        // .info__bottom__link

        &__link {
            font-weight: 500;
            font-size: 20px;
            line-height: 22px;
            color: $orange;

            &:hover {
                color: rgb(255, 94, 0);
            }
        }
    }
}

@media (max-width: $md2) {
    .image {
        flex: 0 1 50%;
        position: relative;
        display: flex;
        justify-content: space-between;
        max-width: 960px;
        max-height: 940px;
        background: url("../../img/startPage/bg.jpeg") center / cover no-repeat;
        // .image__itemLeft

        &__itemLeft {
            margin-left: 60px;
            margin-bottom: 30px;
            // .image__itemLeft_absolute

            &_absolute {
                max-width: 80px;
            }

            &_relative {
                max-width: 100px;
            }
        }

        // .image__itemRight

        &__itemRight {
            margin-right: 10px;
            margin-top: 120px;
            // .image__itemRight_absolute

            &_absolute {
                max-width: 80px;
            }

            &_relative {
                max-width: 100px;
            }
        }
    }

    .info {
        flex: 0 1 50%;
        display: flex;
        flex-direction: column;
        padding: 40px 60px;

        // .info__button

        &__button {
            padding: 18px 30px;

            &:hover {
                img {
                    transform: translateX(10px);
                    transition: .3s all ease;
                }
            }
        }
    }
}

@media (max-width: $md3) {
    .image {
        // .image__itemLeft

        &__itemLeft {
            margin-left: 50px;
            margin-bottom: 20px;
            // .image__itemLeft_absolute

            &_absolute {
                max-width: 50px;
                margin-top: -90px;
                margin-left: -10px;
            }

            &_relative {
                max-width: 70px;
            }
        }

        // .image__itemRight

        &__itemRight {
            margin-right: 10px;
            margin-top: 120px;
            // .image__itemRight_absolute

            &_absolute {
                max-width: 50px;
                margin-top: -20px;
                margin-left: 10px;
            }

            &_relative {
                max-width: 70px;
            }
        }
    }

    .info {
        flex: 0 1 50%;
        display: flex;
        flex-direction: column;
        padding: 20px 30px;

        // .info__button

        &__button {
            padding: 16px 20px;

            &:hover {
                img {
                    transform: translateX(10px);
                    transition: .3s all ease;
                }
            }
        }


        &__bottom {
            font-size: 16px;

            // .info__bottom__link

            &__link {
                font-size: 18px;
            }
        }
    }
}

@media (max-width: $md4) {
    .header {
        flex-direction: column;
    }

    .image {
        // .image__itemLeft

        &__itemLeft {
            margin-left: 50px;
            margin-bottom: 20px;
            // .image__itemLeft_absolute

            &_absolute {
                max-width: 40px;
                margin-top: -50px;
            }

            &_relative {
                max-width: 40px;
            }
        }

        // .image__itemRight

        &__itemRight {
            margin-right: 10px;
            margin-top: 120px;
            // .image__itemRight_absolute

            &_absolute {
                max-width: 40px;
                margin-top: -15px;
                margin-left: 0px;
            }

            &_relative {
                max-width: 40px;
            }
        }
    }

    .info {
        align-items: center;
        text-align: center;

        // .info__button

        &__button {
            padding: 16px 20px;
            font-size: 16px;
        }


        &__bottom {
            // .info__bottom__link

            &__link {
                font-size: 16px;
            }
        }
    }
}

@media (max-width: $min-width) {
    .info {
        align-items: center;
        text-align: center;

        // .info__button

        &__button {
            align-items: center;
            padding: 6px 10px;

            img {
                margin-right: 5px;
            }
        }
    }
}